{% unless template == 'index' or template == 'cart' or template == 'list-collections' or template == '404' %}

{% assign t = template | split: '.' | first %}
{{ collection.title }}
<div class="">
<nav class="breadcrumbs" role="navigation" aria-label="breadcrumbs">
  <ol>
    <li>
      <a href="/" title="Home">Home</a>
      <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none">
        <path d="M1 13L7 7L1 1" stroke="#424242" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </li>

  {% case t %}
  {% when 'page' %}

    <li>
      =={{ page.title }}
      
    </li>

  {% when 'product' %}

    {% if collection.url %}
      <li>
        {{ collection.title | link_to: collection.url }}
      </li>
    {% endif %}

    <li>
      {{ product.title }}
    </li>

  {% when 'collection' and collection.handle %}

    {% if current_tags %}
      <li>{{ collection.title | link_to: collection.url }}</li>
      <li>
        {% capture tag_url %}{{ collection.url }}/{{ current_tags | join: "+"}}{% endcapture %}
        <a href="{{ tag_url }}" aria-current="page">{{ collection.title | join: " + "}}</a>
        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none">
          <path d="M1 13L7 7L1 1" stroke="#424242" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </li>
    {% else %}
      <li>
        <a href="" aria-current="page">{{ collection.title }}</a>
        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none">
          <path d="M1 13L7 7L1 1" stroke="#424242" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </li>
    {% endif %}

  {% when 'blog' %}

    {% if current_tags %}
      <li>{{ blog.title | link_to: blog.url }}</li>
      <li>
        {% capture tag_url %}{{blog.url}}/tagged/{{ current_tags | join: "+" }}{% endcapture %}
        <span style = "text-decoration: none;" aria-current="page">{{ current_tags | join: " + " }}</span>
      </li>
    {% else %}
      <li>
        <span style = "text-decoration: none;"  aria-current="page">{{ blog.title }}</span>
      </li>
    {% endif %}

  {% when 'article' %}

    <li>{{ blog.title | link_to: blog.url }}</li>
    <li>
      <span style = "text-decoration: none;"  aria-current="page">{{ article.title }}</span>
    </li>

  {% else %}

    <li aria-current="page">
      <span style = "text-decoration: none;"  aria-current="page">{{ page_title }}</span>
    </li>

  {% endcase %}

  </ol>
</nav>
{% endunless %}
</div>


