{% comment %}
  Renders a collection card

  Accepts:
  - card_collection: {Object} Collection Liquid object
  - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
  - columns: {Number}
  - extend_height: {Boolean} Card height extends to available container space. Default: false (optional)
  - wrapper_class: {String} Wrapper class for card (optional)
  - placeholder_image: {String} Placeholder image when collection is empty (optional)

  Usage:
  {% render 'card-collection' %}
{% endcomment %}

{%- liquid
  assign ratio = 1
  if categories_image and media_aspect_ratio == 'portrait'
    assign ratio = 0.8
  elsif categories_image and media_aspect_ratio == 'adapt'
    assign ratio = categories_image.aspect_ratio
  endif
  if ratio == 0 or ratio == null
    assign ratio = 1
  endif
  assign card_color_scheme = settings.card_color_scheme
  assign card_style = settings.card_style
  if wrapper_class == null or wrapper_class == 'none'
    assign card_color_scheme = settings.collection_card_color_scheme
    assign card_style = settings.collection_card_style
  endif
-%}

<div class="card-wrapper animate-arrow {% if wrapper_class and wrapper_class != 'none' %}{{ wrapper_class }}{% else %}collection-card-wrapper{% endif %}">
  <div
    class="
      card
      card--{{ card_style }}
      {% if categories_image %} card--media{% else %} card--text{% endif %}
      {% if card_style == 'card' %} color-{{ card_color_scheme }} gradient{% endif %}
      {% if extend_height %} card--extend-height{% endif %}
      {% if categories_image == nil and card_style == 'card' %} ratio{% endif %}
    "
    style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
  >
    <div
      class="card__inner {% if card_style == 'standard' %}color-{{ card_color_scheme }} gradient{% endif %}{% if categories_image or card_style == 'standard' %} ratio{% endif %}"
      style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
    >
      {%- if categories_image -%}
        <div class="card__media">
          <div class="media media--transparent media--hover-effect">
            <img
              srcset="
                {%- if categories_image.width >= 165 -%}{{ categories_image | image_url: width: 165 }} 165w,{%- endif -%}
                {%- if categories_image.width >= 330 -%}{{ categories_image | image_url: width: 330 }} 330w,{%- endif -%}
                {%- if categories_image.width >= 535 -%}{{ categories_image | image_url: width: 535 }} 535w,{%- endif -%}
                {%- if categories_image.width >= 750 -%}{{ categories_image | image_url: width: 750 }} 750w,{%- endif -%}
                {%- if categories_image.width >= 1000 -%}{{ categories_image | image_url: width: 1000 }} 1000w,{%- endif -%}
                {%- if categories_image.width >= 1500 -%}{{ categories_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                {%- if categories_image.width >= 3000 -%}{{ categories_image | image_url: width: 3000 }} 3000w,{%- endif -%}
                {{ categories_image | image_url }} {{ categories_image.width }}w
              "
              src="{{ categories_image | image_url: width: 1500 }}"
              sizes="
                (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: columns }}px,
                (min-width: 750px) {% if columns > 1 %}calc((100vw - 10rem) / 2){% else %}calc(100vw - 10rem){% endif %},
                calc(100vw - 3rem)
              "
              alt="{{ categories_image.alt | escape }}"
              height="{{ categories_image.height }}"
              width="{{ categories_image.width }}"
              loading="lazy"
              class="motion-reduce"
            >
          </div>
        </div>
      {%- endif -%}
      {%- if card_collection == blank -%}
        <div class="card__media">
          {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      {%- else -%}
        <div class="card__content">
          <div class="card__information">
            {%- if card_collection.description != blank -%}
              <p class="card__caption">
                {{- card_collection.description | strip_html | truncatewords: 12 -}}
                <span class="icon-wrap">
                  {{- 'icon-arrow.svg' | inline_asset_content -}}
                </span>
              </p>
            {%- endif -%}
          </div>
        </div>
      {%- endif -%}
    </div>
    <h2 class="card__heading 1">
      <a
        {% if card_collection == blank %}
          role="link" aria-disabled="true"
        {% else %}
          href="{% if redirection_link != blank %} {{ redirection_link }} {% else %} {{ card_collection.url }} {% endif %}"
        {% endif %}
        class="full-unstyled-link"
      >
        {%- if card_collection.title != blank -%}
          {{- card_collection.title | escape -}}
        {%- else -%}
          {{ 'onboarding.collection_title' | t }}
        {%- endif -%}
      </a>
    </h2>
    <div class="card_product_main">
      <span class="card_product_main_desc">{{ card_text }}</span>
      <span class="card_product_main_desc">{{ card_text_descriptio }}</span>
       <div class="video-links">
         {% if Button_link != blank %}
           {% if link_text != blank %}
            <a href="{{ Button_link }}">
              {{ link_text }}
            </a>    
         {% endif %}
         {% else %}
         {% if video_1_url and link_text != blank %}
            <a href="{{ Button_link }}" class="video-trigger">
              {{ link_text }}
            </a>    
         {% endif %}
         {% if link_2_text and video_2_url != blank  %}
            <a href="javascript:void(0);" class="video-trigger" data-video="#video2">
              {{ link_2_text }}
            </a>
         {% endif %}
       {% endif %}
      </div>
      <a href="{% if redirection_link != blank %} {{ redirection_link }} {% else %} {{ card_collection.url }} {% endif %}" class="button button--primary">{{ card_button }}</a>
    </div>
    {%- if card_collection != blank and card_style == 'card' or categories_image -%}
      <div class="card__content">
        <div class="card__information">
          
          {%- if categories_image == null and card_collection.description != blank -%}
            <p class="card__caption">
              {{- card_collection.description | strip_html | truncatewords: 12 -}}
              <span class="icon-wrap">
                {{- 'icon-arrow.svg' | inline_asset_content -}}
              </span>
            </p>
          {%- endif -%}
        </div>
      </div>
    {%- endif -%}
   
  </div>
</div>
