{% assign current_url = request.path %}
<nav class="breadcrumb">
  <a href="{{ routes.root_url }}">Home</a>

  {% assign breadcrumb_found = false %}

  {% for mainLink in linklists.main-menu.links %}
    {% if mainLink.url == current_url %}
      &gt; <span>{{ mainLink.title }}</span>
      {% assign breadcrumb_found = true %}
      {% break %}
    {% endif %}

    {% for subLink in mainLink.links %}
      {% if subLink.url == current_url %}
        &gt; <span>{{ mainLink.title }}</span>
        &gt; <span>{{ subLink.title }}</span>
        {% assign breadcrumb_found = true %}
        {% break %}
      {% endif %}
    {% endfor %}

    {% if breadcrumb_found %}
      {% break %}
    {% endif %}
  {% endfor %}

  {% if product and not breadcrumb_found %}
    &gt; <span>{{ product.title }}</span>
  {% endif %}
</nav>
