<nav class="breadcrumb">
  <a href="{{ routes.root_url }}">Home</a>

  {% if collection %}
    &gt; <a href="{{ collection.url }}">{{ collection.title }}</a>
  {% endif %}

  {% if product %}
    {% if collection %}
      &gt; <span>{{ product.title }}</span>
    {% else %}
      &gt; <span>{{ product.title }}</span>
    {% endif %}
  {% endif %}

  {% if page.title and template contains 'page' %}
    &gt; <span>{{ page.title }}</span>
  {% endif %}
</nav>
