 {{ 'section-multicolumn-box-with-image.css' | asset_url | stylesheet_tag }}
{{ 'custom-multicolumn-with-image.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.55 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.55 | round: 0 }}px;
    margin-top: {{ section.settings.margin_top | times: 0.55 | round: 0 }}px;
    margin-bottom: {{ section.settings.margin_bottom | times: 0.55 | round: 0 }}px;
  }
  .section-{{ section.id }}-padding .sec-head .title {
    color: {{ section.settings.title_color }};
  }
  .section-{{ section.id }}-padding .section-sub-title {
    color: {{ section.settings.subheading_color }};
  }
  .multi-column-box-with-image.section-{{ section.id }} .sec-head .title {
    font-size: {{ section.settings.custom_heading_size }}px;
  }
  @media screen and (max-width: 1366px) {
    .multi-column-box-with-image.section-{{ section.id }} .sec-head .title {
      font-size: {{ section.settings.custom_heading_size | divided_by: 1.238 }}px;
    }
  }
  @media screen and (max-width: 1199px) {
    .multi-column-box-with-image.section-{{ section.id }} .sec-head .title {
      font-size: {{ section.settings.custom_heading_size | divided_by: 1.3 }}px;
    }
  }
  @media screen and (max-width: 989px) {
    .multi-column-box-with-image.section-{{ section.id }} .sec-head .title {
      font-size: {{ section.settings.custom_heading_size | divided_by: 1.52 }}px;
    }
  }
  @media screen and (max-width: 749px) {
    .multi-column-box-with-image.section-{{ section.id }} .sec-head .title {
      font-size: {{ section.settings.mobile_custom_heading_size }}px;
    }
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.7 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.7 | round: 0 }}px;
      margin-top: {{ section.settings.margin_top | times: 0.7 | round: 0 }}px;
      margin-bottom: {{ section.settings.margin_bottom | times: 0.7 | round: 0 }}px;
    }
  }

  @media screen and (min-width: 1025px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="multi-column-box-with-image section-{{ section.id }} section-{{ section.id }}-padding color-{{ section.settings.color_scheme }} gradient">
  <div class="multicolumn-box page-width">
    {%- if section.settings.title != blank -%}
      <div class="sec-head section-title-alignment-{{ section.settings.title_alignment }}">
        <h2 class="title">
          {{ section.settings.title }}
        </h2>
        <div class="section-sub-title subtitle">{{ section.settings.sec_subtitle }}</div>
        <a href="{{ section.settings.button_url }}" class="button button--primary">
          {{- section.settings.button_text -}}
        </a>
      </div>
    {%- endif -%}

    <div class="grid grid--1-col grid--2-col-tablet grid--{{ section.settings.columns_desktop }}-col-desktop {% if section.settings.box_shadow == true %}item-box-shadow{% endif %}">
      {%- for block in section.blocks -%}
        <div class="grid__item" {{ block.shopify_attributes }}>
          <div class="multicolumn-box__item">
            <div class="multicolumn-box__item_inner">
              {%- if block.settings.image != blank -%}
                <div class="multicolumn-box-img-wrapper">
                  {{
                    block.settings.image
                    | image_url: width: 1000
                    | image_tag:
                      loading: 'lazy',
                      width: block.settings.image.width,
                      height: block.settings.image.height,
                      class: 'multicolumn-box__image'
                  }}
                </div>
              {%- endif -%}
              <div class="multicolumn-box-top-con">
                {%- if block.settings.title != blank -%}
                  <h3 class="title h0">{{ block.settings.title | escape }}</h3>
                {%- endif -%}
                {%- if block.settings.text != blank -%}
                  <div class="multicolumn-box-description subtitle">{{ block.settings.text }}</div>
                {%- endif -%}
              </div>
              <div class="multicolumn-box-bottom-con">
                {%- if block.settings['text-v'] != blank -%}
                  <div class="multicolumn-box-description">{{ block.settings['text-v'] }}</div>
                {%- endif -%}
                {%- if block.settings['button-text'] != blank -%}
                  <a href="{{ block.settings.button-url }}" class="button button--primary">
                    {{- block.settings['button-text'] -}}
                  </a>
                {%- endif -%}
              </div>
            </div>
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Custom multicolumn",
  "tag": "section",
  "class": "section multi_box_image custom-multicolumn-with-image",
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "default": "<p>Multicolumn Box</p>",
      "label": "Section Title"
    },
    {
      "type": "text",
      "id": "sec_subtitle",
      "default": "Subtitle",
      "label": "Section subtitle"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color",
      "default": "#424242"
    },
    {
      "type": "color",
      "id": "subheading_color",
      "label": "SubHeading Color",
      "default": "#424242"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button link"
    },
    {
      "type": "range",
      "id": "custom_heading_size",
      "min": 20,
      "max": 70,
      "step": 1,
      "default": 52,
      "unit": "px",
      "label": "Heading Size"
    },
    {
      "type": "range",
      "id": "mobile_custom_heading_size",
      "min": 20,
      "max": 40,
      "step": 1,
      "default": 28,
      "unit": "px",
      "label": "Mobile Heading Size"
    },
    {
      "type": "select",
      "id": "title_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Section title alignment"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Box setting"
    },
    {
      "type": "select",
      "id": "columns_desktop",
      "options": [
        {
          "value": "1",
          "label": "1 column"
        },
        {
          "value": "2",
          "label": "2 columns"
        },
        {
          "value": "3",
          "label": "3 columns"
        }
      ],
      "default": "3",
      "label": "Number of columns on desktop"
    },
    {
      "type": "checkbox",
      "id": "box_shadow",
      "default": true,
      "label": "Add box shadow"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Margin bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Box",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Box title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post.</p>",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "text-v",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "button-text",
          "label": "BUtton text"
        },
        {
          "type": "url",
          "id": "button-url",
          "label": "Button url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom multicolumn",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
