{{ 'section-multicolumn-box-with-image.css' | asset_url | stylesheet_tag }}
{{ 'custom-multicolumn-with-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.55 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.55 | round: 0 }}px;
  }
  .multi-column-box-with-image.section-{{ section.id }} {
    background-color: {{ section.settings.multicolumn_bg_color }};
  }
  .multi-column-box-with-image.section-{{ section.id }} .sec-head > *,
  .multi-column-box-with-image.section-{{ section.id }} .multicolumn-box-top-con > * {
    color: {{ section.settings.multicolumn_text_color }};
  }
  .multi-column-box-with-image.section-{{ section.id }} .multicolumn-box-bottom-con .button {
    background-color: {{ section.settings.multicolumn_btn_ng_color }};
    color: {{ section.settings.multicolumn_btn_text }};
  }
  .multi-column-box-with-image.section-{{ section.id }} .multicolumn-box-bottom-con .button::after {
    display: none;
  }
  .custom-multicolumn-with-image .multi-column-box-with-image .multicolumn-box__item {
    border: 1px solid {{ section.settings.multicolumn_text_color }};
  }
  .custom-multicolumn-with-text .multi-column-box-with-image .multicolumn-box__item {
    background: {{ section.settings.box_background }};
  }
  .custom-multicolumn-with-text .multi-column-box-with-image .multicolumn-box__item .box-text-con-wrap > * {
    color: {{ section.settings.box_text_color }};
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.7 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.7 | round: 0 }}px;
    }
  }

  @media screen and (min-width: 1025px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="multi-column-box-with-image section-{{ section.id }} section-{{ section.id }}-padding color-{{ section.settings.color_scheme }} gradient">
  <div class="multicolumn-box page-width">
    {%- if section.settings.title != blank -%}
      <div class="sec-head section-title-alignment-{{ section.settings.title_alignment }}">
        <h2 class="title {{ section.settings.heading_size }}">
          {{ section.settings.title }}
        </h2>
        <div class="multicolumn-section-subtitle subtitle">{{ section.settings.descr }}</div>
      </div>
    {%- endif -%}

    <div class="grid grid--1-col grid--2-col-tablet grid--{{ section.settings.columns_desktop }}-col-desktop {% if section.settings.box_shadow == true %}item-box-shadow{% endif %}">
      {%- for block in section.blocks -%}
        <div class="grid__item" {{ block.shopify_attributes }}>
          <div class="multicolumn-box__item color-{{ section.settings.box_color_scheme }} gradient">
            <div class="box-text-con-wrap">
              {%- if block.settings.title != blank -%}
                <h3 class="box-title h0">{{ block.settings.title | escape }}</h3>
              {%- endif -%}
              {%- if block.settings.text != blank -%}
                <div class="multicolumn-box-description">{{ block.settings.text }}</div>
              {%- endif -%}
            </div>
            {%- if block.settings['button-text'] != blank -%}
              <a href="{{ block.settings.button-url }}" class="button button--primary">
                {{- block.settings['button-text'] -}}
              </a>
            {%- endif -%}
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "custom Multicolumn Text",
  "tag": "section",
  "class": "section multi_box_image custom-multicolumn-with-text",
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "default": "<p>Multicolumn Box</p>",
      "label": "Section Title"
    },
    {
      "type": "text",
      "id": "descr",
      "label": "Description"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "Small"
        },
        {
          "value": "h1",
          "label": "Medium"
        },
        {
          "value": "h0",
          "label": "Large"
        }
      ],
      "default": "h1",
      "label": "Heading Size"
    },
    {
      "type": "select",
      "id": "title_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Section title alignment"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Box setting"
    },
    {
      "type": "select",
      "id": "columns_desktop",
      "options": [
        {
          "value": "1",
          "label": "1 column"
        },
        {
          "value": "2",
          "label": "2 columns"
        },
        {
          "value": "3",
          "label": "3 columns"
        }
      ],
      "default": "3",
      "label": "Number of columns on desktop"
    },
    {
      "type": "checkbox",
      "id": "box_shadow",
      "default": true,
      "label": "Add box shadow"
    },
    {
      "type": "color",
      "id": "multicolumn_bg_color",
      "label": "Multicolumn Background",
      "default": "#b2afa6"
    },
    {
      "type": "color",
      "id": "multicolumn_text_color",
      "label": "Multicolumn Text Color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "box_background",
      "label": "Multicolumn Box Background",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "box_text_color",
      "label": "Multicolumn Text Color",
      "default": "#424242"
    },
    {
      "type": "color",
      "id": "multicolumn_btn_ng_color",
      "label": "Multicolumn Button Background",
      "default": "#ffce00"
    },
    {
      "type": "color",
      "id": "multicolumn_btn_text",
      "label": "Multicolumn Button Text",
      "default": "#fff"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Box",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Box title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post.</p>",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "button-text",
          "label": "BUtton text"
        },
        {
          "type": "url",
          "id": "button-url",
          "label": "Button url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "custom Multicolumn Text",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
