{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
{{ 'custom-image-banner.css' | asset_url | stylesheet_tag }}

{%- if section.settings.image_height == 'adapt' and section.settings.image != blank -%}
  {%- style -%}
    @media screen and (max-width: 749px) {
      #Banner-{{ section.id }}::before,
      #Banner-{{ section.id }} .banner__media::before,
      #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }

    @media screen and (min-width: 750px) {
      #Banner-{{ section.id }}::before,
      #Banner-{{ section.id }} .banner__media::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }
  {%- endstyle -%}
{%- endif -%}

{%- style -%}
  .custom-image-banner #Banner-{{ section.id }} .banner-text-con.remove_bg {
    background: unset;
    border: unset;
  }
  
  #Banner-{{ section.id }}::after {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
  }

  {% for block in section.blocks %}
    .custom-image-banner .banner__buttons-{{ block.id }} {
      position: absolute;
      left: 50%;
      bottom: {{ block.settings.botton_position }}px;
      transform: translateX(-50%);
    }
    .custom-image-banner #Banner-{{ section.id }} .banner-text-con {
      border-radius: 0 0 {{ block.settings.border_radius }}px {{ block.settings.border_radius }}px;
    }
    .custom-image-banner .hotspot-icon-{{ block.id }} {
      top: {{ block.settings.top_position }}%;
      left: {{ block.settings.left_position }}%;
    }
    .section-{{ section.id }}-padding .banner__heading.heading--{{ block.id }} {
      font-size: {{ block.settings.custom_heading_size }}px;
      {% if block.settings.custom_font_weight == 'none' %}
        font-weight: var(--subheading-font_weight) !important;
      {% else %}
        font-weight: {{ block.settings.custom_font_weight }} !important;
      {% endif %}
    }
    @media screen and (max-width: 1500px) {
      .section-{{ section.id }}-padding .banner__heading.heading--{{ block.id }} {
        font-size: {{ block.settings.custom_heading_size | divided_by: 1.438 }}px;
      }
    }
    @media screen and (max-width: 1199px) {
      .section-{{ section.id }}-padding .banner__heading.heading--{{ block.id }} {
        font-size: {{ block.settings.custom_heading_size | divided_by: 1.3 }}px;
      }
    }
    @media screen and (max-width: 989px) {
      .section-{{ section.id }}-padding .banner__heading.heading--{{ block.id }} {
        font-size: {{ block.settings.custom_heading_size | divided_by: 1.52 }}px;
      }
    }
    @media screen and (max-width: 749px) {
      .section-{{ section.id }}-padding .banner__heading.heading--{{ block.id }} {
        font-size: {{ block.settings.mobile_custom_heading_size }}px;
      }
    }

    @media screen and (max-width: 989px) {
      .custom-image-banner .banner__buttons-{{ block.id }} {
        bottom: {{ block.settings.botton_position | divided_by: 2.7 }}px;
      }
    }

    @media screen and (max-width: 749px) {
      .custom-image-banner .banner__buttons-{{ block.id }} {
        bottom: {{ block.settings.botton_position | divided_by: 1.6 }}px;
      }
    }
  {% endfor %}

  .section-{{ section.id }}-padding {
      margin-top: {{ section.settings.padding_top | times: 0.4 | round: 0 }}px;
      margin-bottom: {{ section.settings.padding_bottom | times: 0.4 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        margin-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
        margin-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
      }
    }

    @media screen and (min-width: 1025px) {
      .section-{{ section.id }}-padding {
        margin-top: {{ section.settings.padding_top }}px;
        margin-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
{%- endstyle -%}

{%- liquid
  assign full_width = '100vw'
  assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'

  if section.settings.image_behavior == 'ambient'
    assign half_width = '60vw'
    assign full_width = '120vw'
    assign stacked_sizes = '(min-width: 750px) 60vw, 120vw'
    assign widths = '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680'
  elsif section.settings.image_behavior == 'fixed' or section.settings.image_behavior == 'zoom-in'
    assign half_width = '100vw'
    assign stacked_sizes = '100vw'
  else
    assign half_width = '50vw'
    assign stacked_sizes = '(min-width: 750px) 50vw, 100vw'
  endif
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
-%}

{% for block in section.blocks %}
  {%- case block.type -%}
    {%- when 'hotspot_button' -%}
      <div id="popup-{{ block.id }}" class="hotspot-product-list-main color-{{ block.settings.hotspot_color_scheme }}">
        <div class="hotspot-product-list-wrap">
          <div class="close-btn">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="1" y="1" width="28" height="28" rx="14" stroke="#424242" stroke-width="2"/>
              <path d="M21.522 8.47461L8.47559 21.521" stroke="#424242" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M8.47559 8.47461L21.522 21.521" stroke="#424242" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <div class="sec-head">
            {% if block.settings.product_list_sec_title != blank %}
              <h2 class="title h1">{{ block.settings.product_list_sec_title }}</h2>
            {% endif %}
            {% if block.settings.product_list_subtitle != blank %}
              <p class="subtitle">{{ block.settings.product_list_subtitle }}</p>
            {% endif %}
          </div>
          <div class="hotspot-products-wrap">
            {% for product in block.settings.hotspot_product_list %}
              <a href="{{ product.url }}" class="hotspot-product-item">
                <div class="hotspot-product-image">
                  {{ product.featured_image | image_url: width: 250 | image_tag }}
                </div>
                <p class="product-vendor">{{ product.vendor }}</p>
                <h2 class="product-name">{{ product.title }}</h2>
                <div class="product-des subtitle">{{ product.description }}</div>
                <div class="product-price">
                  {{ product.price | money_without_trailing_zeros }}
                  {% if product.compare_at_price %} - {% endif %}
                  <del>{{ product.compare_at_price | money_without_trailing_zeros }}</del>
                </div>
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
  {%- endcase -%}
{% endfor %}

<div
  id="Banner-{{ section.id }}"
  class="banner section-{{ section.id }}-padding {{ section.settings.page_container }} banner--content-align-{{ section.settings.desktop_content_alignment }} banner--content-align-mobile-{{ section.settings.mobile_content_alignment }} banner--{{ section.settings.image_height }}{% if section.settings.stack_images_on_mobile and section.settings.image != blank and section.settings.image_2 != blank %} banner--stacked{% endif %}{% if section.settings.image_height == 'adapt' and section.settings.image != blank %} banner--adapt{% endif %}{% if section.settings.show_text_below %} banner--mobile-bottom{%- endif -%}{% if section.settings.show_text_box == false %} banner--desktop-transparent{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
>
  <div class="hotspot-area-main">
    {% for block in section.blocks %}
      {%- case block.type -%}
        {%- when 'hotspot_button' -%}
          {% if block.settings.hotspot_icon != blank %}
            <div class="hotspot-icon hotspot-icon-{{ block.id }}" data-block-id="{{ block.id }}" {{ block.shopify_attributes }}>
              <img
                src="{{ block.settings.hotspot_icon | img_url: "master" }}"
                width="{{ block.settings.hotspot_icon.width }}"
                height="{{ block.settings.hotspot_icon.height }}"
              >
            </div>
          {% endif %}
      {%- endcase -%}
    {% endfor %}
  </div>
  {%- if section.settings.image != blank -%}
  <div class="banner__media media{% if section.settings.image == blank and section.settings.image_2 == blank %} placeholder{% endif %}{% if section.settings.image_2 != blank %} banner__media-half{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    {%- liquid
      assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
      if section.settings.image_2 != blank
        assign image_class = 'banner__media-image-half'
      endif
      if section.settings.image_2 != blank and section.settings.stack_images_on_mobile
        assign sizes = stacked_sizes
      elsif section.settings.image_2 != blank
        assign sizes = half_width
      else
        assign sizes = full_width
      endif
      assign mobile_image = section.settings.image_mobile | default: section.settings.image
    -%}
    <picture>
      <source
        media="(max-width: 749px)"
        srcset="{{ mobile_image | image_url: width: 750 }}">
      <source
        media="(min-width: 750px)"
        srcset="{{ section.settings.image | image_url: width: 3840 }}">
      <img
        src="{{ section.settings.image | image_url: width: 1500 }}"
        width="{{ section.settings.image.width }}"
        height="{{ image_height }}"
        class="{{ image_class }}"
        sizes="{{ sizes }}"
        fetchpriority="{{ fetch_priority }}"
        alt="{{ section.settings.image.alt | escape }}"
        loading="lazy"
      >
    </picture>
  </div>
{%- elsif section.settings.image_2 == blank -%}
  <div class="banner__media media{% if section.settings.image == blank and section.settings.image_2 == blank %} placeholder{% endif %}{% if section.settings.image_2 != blank %} banner__media-half{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
  </div>
{%- endif -%}
  {%- if section.settings.image_2 != blank -%}
  <div class="banner__media media{% if section.settings.image != blank %} banner__media-half{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    {%- liquid
      assign image_height_2 = section.settings.image_2.width | divided_by: section.settings.image_2.aspect_ratio
      if section.settings.image != blank
        assign image_class_2 = 'banner__media-image-half'
      endif
      if section.settings.image != blank and section.settings.stack_images_on_mobile
        assign sizes = stacked_sizes
      elsif section.settings.image_2 != blank
        assign sizes = half_width
      else
        assign sizes = full_width
      endif
      assign mobile_image_2 = section.settings.image_2_mobile | default: section.settings.image_2
    -%}
    <picture>
      <source
        media="(max-width: 749px)"
        srcset="{{ mobile_image_2 | image_url: width: 750 }}">
      <source
        media="(min-width: 750px)"
        srcset="{{ section.settings.image_2 | image_url: width: 3840 }}">
      <img
        src="{{ section.settings.image_2 | image_url: width: 1500 }}"
        width="{{ section.settings.image_2.width }}"
        height="{{ image_height_2 }}"
        class="{{ image_class_2 }}"
        sizes="{{ sizes }}"
        fetchpriority="{{ fetch_priority }}"
        alt="{{ section.settings.image_2.alt | escape }}"
        loading="lazy"
      >
    </picture>
  </div>
{%- endif -%}
  <div class="banner__content banner__content--{{ section.settings.desktop_content_position }} page-width{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    <div class="banner__box content-container content-container--full-width-mobile color-{{ section.settings.color_scheme }} gradient">
      <div class="banner-text-con {% if section.settings.remove_bg %} remove_bg {% endif %}">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              <h2
                class="banner__heading inline-richtext heading--{{ block.id }}"
                {{ block.shopify_attributes }}
              >
                {{ block.settings.heading }}
              </h2>
            {%- when 'text' -%}
              <div class="banner__text subtitle rte {{ block.settings.text_style }}" {{ block.shopify_attributes }}>
                <p>{{ block.settings.text }}</p>
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'buttons' -%}
            <div
              class="banner__buttons banner__buttons-{{ block.id }} {% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}"
              {{ block.shopify_attributes }}
            >
              {%- if block.settings.button_label_1 != blank -%}
                <a
                  {% if block.settings.button_link_1 == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.button_link_1 }}"
                  {% endif %}
                  class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}"
                >
                  {{- block.settings.button_label_1 | escape -}}
                </a>
              {%- endif -%}
              {%- if block.settings.button_label_2 != blank -%}
                <a
                  {% if block.settings.button_link_2 == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.button_link_2 }}"
                  {% endif %}
                  class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}"
                >
                  {{- block.settings.button_label_2 | escape -}}
                </a>
              {%- endif -%}
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Custom image banner",
  "tag": "section",
  "class": "section custom-image-banner",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "remove_bg",
      "label": "Remove overlay Background",
      "default": true
    },
    {
      "type": "select",
      "id": "page_container",
      "options": [
        {
          "value": "page-width",
          "label": "Page Width"
        },
        {
          "value": "full-width",
          "label": "Full Width"
        }
      ],
      "default": "full-width",
      "label": "Page Container"
    },
    
    {
      "type": "header",
      "content": "Desktop images"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Desktop image (1)"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Desktop image (2)"
    },
    {
      "type": "header",
      "content": "Mobile images"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Mobile image (1)"
    },
    {
      "type": "image_picker",
      "id": "image_2_mobile",
      "label": "Mobile image (2)"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.image-banner.settings.image_overlay_opacity.label",
      "default": 0
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.image-banner.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.image-banner.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-banner.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-banner.settings.image_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-banner.settings.image_height.label",
      "info": "t:sections.image-banner.settings.image_height.info"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__4.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__5.label"
        },
        {
          "value": "middle-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__6.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__7.label"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__8.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__9.label"
        }
      ],
      "default": "middle-center",
      "label": "t:sections.image-banner.settings.desktop_content_position.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_box",
      "default": true,
      "label": "t:sections.image-banner.settings.show_text_box.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.desktop_content_alignment.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.animation.content"
    },
    {
      "type": "select",
      "id": "image_behavior",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.animation.image_behavior.options__1.label"
        },
        {
          "value": "ambient",
          "label": "t:sections.all.animation.image_behavior.options__2.label"
        },
        {
          "value": "fixed",
          "label": "t:sections.all.animation.image_behavior.options__3.label"
        },
        {
          "value": "zoom-in",
          "label": "t:sections.all.animation.image_behavior.options__4.label"
        }
      ],
      "default": "none",
      "label": "t:sections.all.animation.image_behavior.label"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.mobile.content"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.mobile_content_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "hotspot_button",
      "name": "Hotspot button",
      "settings": [
        {
          "type": "image_picker",
          "id": "hotspot_icon",
          "label": "Hotspot icon"
        },
        {
          "type": "product_list",
          "id": "hotspot_product_list",
          "label": "Hotspot product list"
        },
        {
          "type": "text",
          "id": "product_list_sec_title",
          "default": "Section title",
          "label": "Section title"
        },
        {
          "type": "text",
          "id": "product_list_subtitle",
          "default": "Section subtitle",
          "label": "Section subtitle"
        },
        {
          "type": "color_scheme",
          "id": "hotspot_color_scheme",
          "label": "Popup color scheme",
          "default": "scheme-1"
        },
        {
          "type": "header",
          "content": "Hotspot area settings"
        },
        {
          "type": "range",
          "id": "top_position",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Top position",
          "default": 20
        },
        {
          "type": "range",
          "id": "left_position",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Left position",
          "default": 20
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.image-banner.blocks.heading.settings.heading.default",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "range",
          "id": "custom_heading_size",
          "min": 20,
          "max": 70,
          "step": 1,
          "default": 52,
          "unit": "px",
          "label": "Heading Size"
        },
        {
          "type": "range",
          "id": "mobile_custom_heading_size",
          "min": 20,
          "max": 40,
          "step": 1,
          "default": 28,
          "unit": "px",
          "label": "Mobile Heading Size"
        },
        {
          "type": "select",
          "id": "custom_font_weight",
          "label": "Font Weight",
          "default": "400",
          "options": [
            { "label": "Thin (100)", "value": "100" },
            { "label": "Extra Light (200)", "value": "200" },
            { "label": "Light (300)", "value": "300" },
            { "label": "Regular (400)", "value": "400" },
            { "label": "Medium (500)", "value": "500" },
            { "label": "Semi Bold (600)", "value": "600" },
            { "label": "Bold (700)", "value": "700" },
            { "label": "Extra Bold (800)", "value": "800" },
            { "label": "Black (900)", "value": "900" },
            { "label": "None", "value": "none" }
          ]
        },
        {
          "type": "range",
          "id": "border_radius",
          "min": 0,
          "max": 50,
          "step": 1,
          "default": 16,
          "unit": "px",
          "label": "Border Radius"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-banner.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "t:sections.image-banner.blocks.text.settings.text.default",
          "label": "t:sections.image-banner.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-banner.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.image-banner.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "default": "t:sections.image-banner.blocks.buttons.settings.button_label_1.default",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "t:sections.image-banner.blocks.buttons.settings.button_label_2.default",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_2.label"
        },
        {
          "type": "range",
          "id": "botton_position",
          "min": 10,
          "max": 300,
          "step": 5,
          "unit": "s",
          "label": "Button position from bottom",
          "default": 120
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom image banner",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}
