{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'collapsible-content.css' | asset_url | stylesheet_tag }}
{{ 'faq-collapsible-content.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.4 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.4 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.6 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.6 | round: 0 }}px;
    }
  }

  @media screen and (min-width: 1025px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="faq-section--{{ section.id }} color-{{ section.settings.color_scheme }} gradient">
  <div class="collapsible-content collapsible-{{ section.settings.layout }}-layout isolate{% if section.settings.layout == 'section' %} page-width{% elsif section.settings.layout == 'none' %} content-container content-container--full-width{% endif %}">
    <div class="collapsible-content__wrapper{% if section.settings.layout == 'section' %} content-container color-{{ section.settings.container_color_scheme }} gradient{% endif %}">
      <div class="page-width">
        <div class="faq-container grid grid--1-col grid--1-col-tablet grid--2-col-desktop section-{{ section.id }}-padding color-{{ section.settings.container_color_scheme }} gradient">
          {%- unless section.settings.heading == blank -%}
            <div
              class="grid__item title-wrapper-with-link collapsible-content__header{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            >
              <div class="section-header-text">
                {%- if section.settings.heading != blank -%}
                  <div class="sec-head">
                    <h2 class="title {{ section.settings.heading_size }}">
                      {{ section.settings.heading }}
                    </h2>
                  </div>
                {%- else -%}
                  <h2 class="visually-hidden">{{ 'accessibility.collapsible_content_title' | t }}</h2>
                {% endif %}
                {% if section.settings.text != blank %}
                  <div class="description"><p>{{ section.settings.text }}</p></div>
                {% endif %}
                {%- if section.settings.button_label != blank -%}
                  <div class="btn-wrapper">
                    <a href="{% if section.settings.button_link != blank %}{{ section.settings.button_link }}{% else %}#{% endif %}" class="button button--primary">
                      {{- section.settings.button_label | escape -}}
                    </a>
                  </div>
                {%- endif -%}
              </div>
            </div>
          {%- endunless -%}
          <div class="grid__item collapsible-content__grid{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
              {%- for block in section.blocks -%}
                <div
                  class="accordion"
                  {{ block.shopify_attributes }}
                >
                  <details
                    id="Details-{{ block.id }}-{{ section.id }}"
                    class="faq-details"
                    {% if section.settings.open_first_collapsible_row and forloop.first %}
                      open
                    {% endif %}
                  >
                    <summary id="Summary-{{ block.id }}-{{ section.id }}">
                      <h3 class="accordion__title inline-richtext h1">
                        {{ block.settings.heading | default: block.settings.page.title }}
                      </h3>
                      {{- 'icon-angle-down.svg' | inline_asset_content -}}
                    </summary>
                    <div
                      class="accordion__content rte"
                      id="CollapsibleAccordion-{{ block.id }}-{{ section.id }}"
                      role="region"
                      aria-labelledby="Summary-{{ block.id }}-{{ section.id }}"
                    >
                      {{ block.settings.row_content }}
                      {{ block.settings.page.content }}
                    </div>
                  </details>
                </div>
              {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const details = document.querySelectorAll('.faq-details');
    
    details.forEach((detail) => {
      detail.addEventListener('click', (e) => {
        if (e.target.hasAttribute('open')) {
          return;
        }
        
        details.forEach((otherDetail) => {
          if (otherDetail !== detail && otherDetail.hasAttribute('open')) {
            otherDetail.removeAttribute('open');
          }
        });
      });
    });
  });
</script>

{% schema %}
{
  "name": "Faq Collapsible Content",
  "tag": "section",
  "class": "section faq_collapsible_content",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "richtext",
      "id": "heading",
      "label": "t:sections.collapsible_content.settings.heading.label",
      "default": "<p>Frequently Asked <strong>Questions</strong></p>"
    },
    {
      "type": "richtext",
      "id": "text",
      "default": "<p>We offer a full suite of Shopify eCommerce services from new website builds, design-only projects, and custom app creation to Shopify site takeovers, optimisation advice, and ongoing development support. In our expert hands, you’ll reap the benefits of our design and technical creativity, data-driven decisions, and transparent partnership approach.</p>",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Get in touch",
      "label": "t:sections.multicolumn.settings.button_label.label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.multicolumn.settings.button_link.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "container_color_scheme",
      "label": "Container color scheme",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "open_first_collapsible_row",
      "default": false,
      "label": "t:sections.collapsible_content.settings.open_first_collapsible_row.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "collapsible_row",
      "name": "t:sections.collapsible_content.blocks.collapsible_row.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible row",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.heading.label",
          "info": "t:sections.collapsible_content.blocks.collapsible_row.settings.heading.info"
        },
        {
          "type": "richtext",
          "id": "row_content",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.row_content.label"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.page.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Faq Collapsible Content",
      "blocks": [
        {
          "type": "collapsible_row"
        },
        {
          "type": "collapsible_row"
        },
        {
          "type": "collapsible_row"
        },
        {
          "type": "collapsible_row"
        }
      ]
    }
  ]
}
{% endschema %}
