{{ 'get-in-touch.css' | asset_url | stylesheet_tag }}

<style>
  .contact-section {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    margin-top: 100px;
  }

  @media screen and (max-width: 749px) {
    .contact-section {
      margin-top: 0;
    }
  }
</style>

<div class="contact-section color-{{ section.settings.row_color_scheme }}">
  <div class="page-width">
    <div class="contact-header">
      <h1 class="contact-title h0">{{ section.settings.title }}</h1>
    </div>

    <div class="contact-container">

      <div class="contact-form-wrapper">

        {% form 'contact' %}

        {%- if form.posted_successfully? -%}
            <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>
              {{- 'icon-success.svg' | inline_asset_content -}}
              {{ 'templates.contact.form.post_success' | t }}
            </h2>
          {%- elsif form.errors -%}
            <div class="form__message">
              <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
                {{- 'icon-error.svg' | inline_asset_content -}}
                {{ 'templates.contact.form.error_heading' | t }}
              </h2>
            </div>
            <ul class="form-status-list caption-large" role="list">
              <li>
                <a href="#ContactForm-email" class="link">
                  {{ form.errors.translated_fields.email | capitalize }}
                  {{ form.errors.messages.email }}
                </a>
              </li>
            </ul>
          {%- endif -%}

          {% if form.errors %}
            <div class="form-error" style="display: block; margin-bottom: 20px;">
              {{ form.errors | default_errors }}
            </div>
          {% endif %}

        {% if section.settings.name != blank %}
          <div class="form-field">
            <div class="form_label_main">
              {% if section.settings.name_icon != blank %}
                <img src="{{ section.settings.name_icon | img_url }}">
              {% endif %}
              <label class="form-label" for="ContactName">{{ section.settings.name }} *</label>
            </div>
            <input 
              type="text" 
              class="form-input" 
              id="ContactName"
              name="contact[name]" 
              value="{{ form.name }}"
              required
            >
          </div>
        {% endif %}

        {% if section.settings.job_title != blank %}
          <div class="form-row">
            <div class="form-field required">
              <div class="form_label_main">
                {% if section.settings.job_title_icon != blank %}
                  <img src="{{ section.settings.job_title_icon | img_url }}">
                {% endif %}
                <label class="form-label" for="ContactJobTitle">{{ section.settings.job_title }} *</label>
              </div>
              <input 
                type="text" 
                class="form-input" 
                id="ContactJobTitle"
                name="contact[job_title]" 
                required
              >
          </div>
          {% endif %}

        {% if section.settings.organisation != blank %}
          <div class="form-row">
            <div class="form-field required">
              <div class="form_label_main">
                {% if section.settings.organisation_icon != blank %}
                  <img src="{{ section.settings.organisation_icon | img_url }}">
                {% endif %}
                <label class="form-label" for="ContactOrganisation">{{ section.settings.organisation }} *</label>
              </div>
              <input 
                type="text" 
                class="form-input" 
                id="ContactOrganisation"
                name="contact[organisation]" 
                required
              >
          </div>
          {% endif %}

        {% if section.settings.email != blank %}
          <div class="form-field">
          <div class="form_label_main">
            {% if section.settings.email_icon != blank %}
              <img src="{{ section.settings.email_icon | img_url }}">
            {% endif %}
            <label class="form-label" for="ContactEmail">{{ section.settings.email }} *</label>
          </div>
            <input 
              type="email" 
              class="form-input" 
              id="ContactEmail"
              name="contact[email]" 
              value="{{ form.email }}"
              required
            >
          </div>
        {% endif %}

        {% if section.settings.region != blank %}
          <div class="form-field required">
          <div class="form_label_main">
            {% if section.settings.region_icon != blank %}
              <img src="{{ section.settings.region_icon | img_url }}">
            {% endif %}
            <label class="form-label" for="ContactRegion">{{ section.settings.region }} *</label>
          </div>
            <input 
              type="text" 
              class="form-input" 
              id="ContactRegion"
              name="contact[region]" 
              value="{{ form.region }}"
              required
            >
          </div>
        {% endif %}

        {% if section.settings.phone != blank %}
          <div class="form-field">
            <div class="form_label_main">
              {% if section.settings.phone_icon != blank %}
                <img src="{{ section.settings.phone_icon | img_url }}">
              {% endif %}
              <label class="form-label" for="ContactPhone">{{ section.settings.phone }} *</label>
            </div>
            <input 
              type="tel" 
              class="form-input" 
              id="ContactPhone"
              name="contact[phone]" 
              value="{{ form.phone }}"
              required
            >
          </div>
          {% endif %}

        </div>
        
        {% if section.settings.enquiry_type != blank %}
          <div class="form-field required">
            <div class="form_label_main">
              {% if section.settings.enquiry_type_icon != blank %}
                <img src="{{ section.settings.enquiry_type_icon | img_url }}">
              {% endif %}
              <label class="form-label" for="ContactEnquiryType">{{ section.settings.enquiry_type }} *</label>
            </div>
            <input 
              type="tel" 
              class="form-input" 
              id="ContactEnquiryType"
              name="contact[enquiry_type]" 
              value="{{ form.enquiry_type }}"
              required
            >
          </div>
        </div>
        {% endif %}

        {% if section.settings.enquiry != blank %}
          <div class="form-field">
            <div class="form_label_main">
              {% if section.settings.enquiry_icon != blank %}
                <img src="{{ section.settings.enquiry_icon | img_url }}">
              {% endif %}
              <label class="form-label" for="ContactMessage">{{ section.settings.enquiry }}</label>
            </div>
            <textarea
              class="form-textarea"
              id="ContactMessage"
              name="contact[body]"              
            >{{ form.body }}</textarea>
          </div>

          {% endif %}

        {% if section.settings.submit_btn != blank %}
          <button type="submit" class="submit-button button button--primary">{{ section.settings.submit_btn }}</button>
        {% endif %}
        {% endform %}
      </div>
        <div class="contact-details">
          <div class="location-cards">
          {% for block in section.blocks %}
            {% if block.type == 'location' %}
              <div class="location-card" {{ block.shopify_attributes }}>
                <div class="location-card-main color-{{ block.settings.box_color_scheme }}">
                  <h1 class="location-title">{{ block.settings.title }}</h1>

                <div class="location-info">

                {% if block.settings.company != blank %}
                  <div class="location-detail">
                  {% if block.settings.company_icon != blank %}
                      <img src="{{ block.settings.company_icon | img_url }}">
                  {% endif %}
                      <span>{{ block.settings.company }}</span>
                  </div>
                {% endif %}
                  
                  {% if block.settings.address != blank %}
                    <div class="location-detail">
                    {% if block.settings.address_icon != blank %}
                      <img src="{{ block.settings.address_icon | img_url }}">
                    {% endif %}
                      <span>{{ block.settings.address }}</span>
                    </div>
                  {% endif %}

                  {% if block.settings.phone != blank %}
                  {% if block.settings.phone_link != blank %}
                    <a href="{{ block.settings.phone_link }}" class="location-detail">
                    {% if block.settings.phone_icon != blank %}
                      <img src="{{ block.settings.phone_icon | img_url }}">
                    {% endif %}
                      <span>{{ block.settings.phone }}</span>
                    </a>
                    {% else %}
                    <div class="location-detail">
                    {% if block.settings.phone_icon != blank %}
                      <img src="{{ block.settings.phone_icon | img_url }}">
                    {% endif %}
                      <span>{{ block.settings.phone }}</span>
                    </div>
                    {% endif %}
                  {% endif %}

                  {% if block.settings.email != blank %}
                    {% if block.settings.email_link != blank %}
                      <a href="{{ block.settings.email_link }}" class="location-detail">
                      {% if block.settings.email_icon != blank %}
                        <img src="{{ block.settings.email_icon | img_url }}">
                      {% endif %}
                        <span>{{ block.settings.email }}</span>
                      </a>
                    {% else %}
                      <div class="location-detail">
                      {% if block.settings.email_icon != blank %}
                        <img src="{{ block.settings.email_icon | img_url }}">
                      {% endif %}
                        <span>{{ block.settings.email }}</span>
                      </div>
                    {% endif %}
                  {% endif %}

                </div>

                {% if block.settings.distributor_text != blank %}
                  <p class="distributor_text">{{ block.settings.distributor_text }}</p>
                {% endif %}

              {% if block.settings.distributor_logo_1 != blank or block.settings.distributor_logo_2 != blank %}
                <div class="distributor-logos">
                    {% if block.settings.distributor_logo_1_url != blank %}
                      <a href="{{ block.settings.distributor_logo_1_url }}">
                      {% if block.settings.distributor_logo_1 %}
                        <img src="{{ block.settings.distributor_logo_1 | img_url: '200x' }}" 
                              alt="Distributor Logo" 
                              loading="lazy"
                              class="distributor-logo">
                      {% endif %}
                      </a>
                      {% else %}
                      {% if block.settings.distributor_logo_1 %}
                        <img src="{{ block.settings.distributor_logo_1 | img_url: '200x' }}" 
                              alt="Distributor Logo" 
                              loading="lazy"
                              class="distributor-logo">
                      {% endif %}
                    {% endif %}
                    {% if block.settings.distributor_logo_2_url != blank %}
                      <a href{{ block.settings.distributor_logo_2_url }}">
                      {% if block.settings.distributor_logo_2 %}
                        <img src="{{ block.settings.distributor_logo_2 | img_url: '200x' }}" 
                          alt="Distributor Logo" 
                          loading="lazy"
                          class="distributor-logo">
                    {% endif %}
                      </a>
                    {% else %}
                    {% if block.settings.distributor_logo_2 %}
                    <img src="{{ block.settings.distributor_logo_2 | img_url: '200x' }}" 
                          alt="Distributor Logo" 
                          loading="lazy"
                          class="distributor-logo">
                    {% endif %}
                  {% endif %}
                </div>
              {% endif %}

                <div class="social-links">
                  
                  {% if block.settings.facebook %}
                    <a href="{{ block.settings.facebook }}" class="social-link" target="_blank" rel="noopener">
                      <svg xmlns="http://www.w3.org/2000/svg" width="13" height="22" viewBox="0 0 13 22" fill="none">
                        <path d="M11.9443 1.10156H8.97496C7.66242 1.10156 6.40364 1.62297 5.47553 2.55108C4.54742 3.47919 4.02601 4.73797 4.02601 6.05051V9.01989H1.05664V12.979H4.02601V20.8974H7.98517V12.979H10.9545L11.9443 9.01989H7.98517V6.05051C7.98517 5.78801 8.08946 5.53625 8.27508 5.35063C8.4607 5.16501 8.71246 5.06072 8.97496 5.06072H11.9443V1.10156Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    </a>
                  {% endif %}
                  
                  {% if block.settings.instagram %}
                    <a href="{{ block.settings.instagram }}" class="social-link" target="_blank" rel="noopener">
                      {{- 'instragram.svg' | inline_asset_content -}}
                    </a>
                  {% endif %}
                  
                  {% if block.settings.twitter %}
                    <a href="{{ block.settings.twitter }}" class="social-link" target="_blank" rel="noopener">
                      {{- 'twitter.svg' | inline_asset_content -}}
                    </a>
                  {% endif %}

                  {% if block.settings.youtube %}
                    <a href="{{ block.settings.youtube }}" class="social-link" target="_blank" rel="noopener">
                      {{- 'youtube.svg' | inline_asset_content -}}
                    </a>
                  {% endif %}

                  {% if block.settings.linkedin %}
                    <a href="{{ block.settings.linkedin }}" class="social-link" target="_blank" rel="noopener">
                      {{- 'linkdin.svg' | inline_asset_content -}}
                    </a>
                  {% endif %}
                  
                </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
          </div>
        </div>
    </div>
  </div>



</div>


{% schema %}
{
  "name": "Get in Touch",
  "settings": [
    {
      "type": "color_scheme",
      "id": "row_color_scheme",
      "label": "t:sections.multirow.settings.container_color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "Get in Touch"
    },    
    {
      "type": "header",
      "content": "Contact Form"
    },
    {
      "type": "text",
      "id": "name",
      "default": "Your Name",
      "label": "Name"
    },
    {
      "type": "image_picker",
      "id": "name_icon",
      "label": "Name Icon"
    },
    {
      "type": "text",
      "id": "job_title",
      "default": "Job Title",
      "label": "Job Title"
    },
    {
      "type": "image_picker",
      "id": "job_title_icon",
      "label": "Job Title Icon"
    },
    {
      "type": "text",
      "id": "organisation",
      "default": "Organisation",
      "label": "Organisation"
    },
    {
      "type": "image_picker",
      "id": "organisation_icon",
      "label": "Organisation Icon"
    },
    {
      "type": "text",
      "id": "email",
      "default": "Email",
      "label": "Email"
    },
    {
      "type": "image_picker",
      "id": "email_icon",
      "label": "Email Icon"
    },
    {
      "type": "text",
      "id": "region",
      "default": "Region",
      "label": "Region"
    },
    {
      "type": "image_picker",
      "id": "region_icon",
      "label": "Region Icon"
    },
    {
      "type": "text",
      "id": "phone",
      "default": "Phone",
      "label": "Phone"
    },
    {
      "type": "image_picker",
      "id": "phone_icon",
      "label": "Phone Icon"
    },
    {
      "type": "text",
      "id": "enquiry_type",
      "default": "Enquiry Type",
      "label": "Enquiry Type"
    },
    {
      "type": "image_picker",
      "id": "enquiry_type_icon",
      "label": "Enquiry Type Icon"
    },
    {
      "type": "text",
      "id": "enquiry",
      "default": "Enquiry",
      "label": "Enquiry"
    },
    {
      "type": "image_picker",
      "id": "enquiry_icon",
      "label": "Enquiry Icon"
    },
    {
      "type": "text",
      "id": "submit_btn",
      "default": "Submit",
      "label": "Submit Button"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 30,
      "unit": "px",
      "label": "Padding Top"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 30,
      "unit": "px",
      "label": "Padding Bottom"
    }
  ],
  "blocks": [
    {
      "type": "location",
      "name": "Location",
      "limit": 3,
      "settings": [
        {
          "type": "color_scheme",
          "id": "box_color_scheme",
          "label": "t:sections.multirow.settings.container_color_scheme.label",
          "default": "scheme-1"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "AUSTRALIA (OCEANIA)"
        },
        {
          "type": "text",
          "id": "company",
          "label": "Company Name",
          "default": "HEAD OFFICE: SPACELOGIC GROUP PTY LTD"
        },
        {
          "type": "image_picker",
          "id": "company_icon",
          "label": "Company Icon"
        },
        {
          "type": "text",
          "id": "address",
          "label": "Address",
          "default": "7 Cameron Place, Orange NSW 2800, Australia"
        },
        {
          "type": "image_picker",
          "id": "address_icon",
          "label": "Address Icon"
        },
        {
          "type": "text",
          "id": "phone",
          "label": "Phone",
          "default": "02 6362 5533"
        },
        {
          "type": "image_picker",
          "id": "phone_icon",
          "label": "Phone Icon"
        },
        {
          "type": "url",
          "id": "phone_link",
          "label": "Phone Link"
        },
        {
          "type": "text",
          "id": "email",
          "label": "Email",
          "default": "abc@gmail.com"
        },
        {
          "type": "image_picker",
          "id": "email_icon",
          "label": "Email Icon"
        },
        {
          "type": "url",
          "id": "email_link",
          "label": "Email Link"
        },
        {
          "type": "url",
          "id": "facebook",
          "label": "Facebook URL"
        },
        {
          "type": "url",
          "id": "instagram",
          "label": "Instagram URL"
        },
        {
          "type": "url",
          "id": "twitter",
          "label": "Twitter URL"
        },
        {
          "type": "url",
          "id": "youtube",
          "label": "YouTube URL"
        },
        {
          "type": "url",
          "id": "linkedin",
          "label": "LinkedIn URL"
        },
        {
          "type": "text",
          "id": "distributor_text",
          "label": "Distributor Text"
        },
        {
          "type": "image_picker",
          "id": "distributor_logo_1",
          "label": "Distributor Logo 1"
        },
        {
          "type": "url",
          "id": "distributor_logo_1_url",
          "label": "Distributor Logo 1 Url"
        },
        {
          "type": "image_picker",
          "id": "distributor_logo_2",
          "label": "Distributor Logo 2"
        },
        {
          "type": "url",
          "id": "distributor_logo_2_url",
          "label": "Distributor Logo 2 Url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Get in Touch Split",
      "category": "Forms"
    }
  ]
}
{% endschema %}