{{ 'section-multicolumn-box-with-image.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.35 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.35 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.4 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.4 | round: 0 }}px;
    }
  }

  @media screen and (min-width: 1025px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

{%- endstyle -%}

<div class="multi-column-box-with-image section-{{ section.id }} section-{{ section.id }}-padding color-{{ section.settings.color_scheme }} gradient">
  <div class="multicolumn-box page-width">
    {%- if section.settings.title != blank -%}
      <div class="sec-head section-title-alignment-{{ section.settings.title_alignment }}">
        <h2 class="title {{ section.settings.heading_size }}">
          {{ section.settings.title }}
        </h2>
      </div>
    {%- endif -%}

    <div class="grid grid--1-col grid--2-col-tablet grid--{{ section.settings.columns_desktop }}-col-desktop">
      {%- for block in section.blocks -%}
        <div class="grid__item" {{ block.shopify_attributes }}>
          <div class="multicolumn-box__item">
            {%- if block.settings.image != blank -%}
              <div class="multicolumn-box-img-wrapper">
                {{ block.settings.image | image_url: width: 600 | image_tag:
                  loading: 'lazy',
                  width: block.settings.image.width,
                  height: block.settings.image.height,
                  class: 'multicolumn-box__image'
                }}
              </div>
            {%- endif -%}
            {%- if block.settings.title != blank -%}
              <div class="heading-with-icon-wrapper color-{{ section.settings.heading_color_scheme }} gradient">
                {%- if block.settings.icon != blank -%}
                  <div class="img-box">
                    {{ block.settings.icon | image_url: width: 40 | image_tag:
                      loading: 'lazy',
                      width: block.settings.icon.width,
                      height: block.settings.icon.height,
                      class: 'multicolumn-box__icon'
                    }}
                  </div>
                {%- endif -%}
                <h3 class="subtitle">{{ block.settings.title | escape }}</h3>
              </div>
            {%- endif -%}
            {%- if block.settings.text != blank -%}
              <div class="multicolumn-box-description">{{ block.settings.text }}</div>
            {%- endif -%}
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Multicolumn with image",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Multicolumn Box",
      "label": "Section Title"
    },
    {
        "type": "select",
        "id": "title_alignment",
        "options": [
            {
            "value": "left",
            "label": "Left"
            },
            {
            "value": "center",
            "label": "Center"
            },
            {
            "value": "right",
            "label": "Right"
            }
        ],
        "default": "center",
        "label": "Section title alignment"
    },
    {
      "type": "select",
      "id": "columns_desktop",
      "options": [
        {
          "value": "1",
          "label": "1 column"
        },
        {
          "value": "2",
          "label": "2 columns"
        },
        {
          "value": "3",
          "label": "3 columns"
        }
      ],
      "default": "3",
      "label": "Number of columns on desktop"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "heading_color_scheme",
      "label": "Heading color scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 180,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 180,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Box",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Box title",
          "label": "Title"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Heading icon"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post.</p>",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Multicolumn with image",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}

