{{ 'section-multicolumn.css' | asset_url | stylesheet_tag }}
{{ 'section-multicolumn-services-box.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.55 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.55 | round: 0 }}px;
  }
  .section-{{ section.id }}-padding .title {
    font-size: {{ section.settings.custom_heading_size }}px;
    {% if section.settings.custom_font_weight == 'none' %}
      font-weight: var(--subheading-font_weight) !important;
    {% else %}
      font-weight: {{ section.settings.custom_font_weight }} !important;
    {% endif %}    
  }
  @media screen and (max-width: 1366px) {
    .section-{{ section.id }}-padding .title {
      font-size: {{ section.settings.custom_heading_size | divided_by: 1.238 }}px;
    }
  }
  @media screen and (max-width: 1199px) {
    .section-{{ section.id }}-padding .title {
      font-size: {{ section.settings.custom_heading_size | divided_by: 1.3 }}px;
    }
  }
  @media screen and (max-width: 989px) {
    .section-{{ section.id }}-padding .title {
      font-size: {{ section.settings.custom_heading_size | divided_by: 1.52 }}px;
    }
  }
  @media screen and (max-width: 749px) {
    .section-{{ section.id }}-padding .title {
      font-size: {{ section.settings.mobile_custom_heading_size }}px;
    }
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.7 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.7 | round: 0 }}px;
    }
  }

  @media screen and (min-width: 1025px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .section-{{ section.id }} {
    --border-color: {{ section.settings.border_color }};
  }

  .multicolumn-services__icon {
    background-color: {{ section.settings.icon_bg_color }};
  }
{%- endstyle -%}

<div class="multicolumn-services color-{{ section.settings.color_scheme }} gradient{% unless section.settings.background_style == 'none' and settings.text_boxes_border_thickness > 0 or settings.text_boxes_shadow_opacity > 0 %} background-{{ section.settings.background_style }}{% endunless %}{% if section.settings.title == blank %} no-heading{% endif %}">
  <div class="page-width section-{{ section.id }} section-{{ section.id }}-padding isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    {% if section.settings.sec_title != blank %}
      <div class="sec-head section-title-alignment-{{ section.settings.title_alignment }}">
        <h2 class="title {{ section.settings.heading_size }}">{{ section.settings.sec_title }}</h2>
      </div>
    {% endif %}
    <div class="multicolumn-services__grid grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col-mobile column-alignment-{{ section.settings.columns_alignment }}">
      {%- for block in section.blocks -%}
        <div class="multicolumn-services__item grid__item" {{ block.shopify_attributes }}>
          
          <div class="services-icon-heading">
            {%- if settings.icon1 != blank -%}
              <div class="multicolumn-services__icon">
                {{ settings.icon1 | image_url: width: 40 | image_tag:
                  loading: 'lazy',
                  width: 35,
                  height: 35,
                  alt: settings.heading1
                }}
              </div>
            {%- endif -%}
            
            {%- if settings.heading1 != blank -%}
              <h3 class="subtitle">{{ settings.heading1 }}</h3>
            {%- endif -%}
          </div>
          
          {%- if settings.text1 != blank -%}
            <div class="rte">{{ settings.text1 }}</div>
          {%- endif -%}
        </div>
 <div class="multicolumn-services__item grid__item" {{ block.shopify_attributes }}>
      <div class="services-icon-heading">
            {%- if settings.icon2 != blank -%}
              <div class="multicolumn-services__icon">
                {{ settings.icon2 | image_url: width: 40 | image_tag:
                  loading: 'lazy',
                  width: 35,
                  height: 35,
                  alt: settings.heading2
                }}
              </div>
            {%- endif -%}
            
            {%- if settings.heading2 != blank -%}
              <h3 class="subtitle">{{ settings.heading2 }}</h3>
            {%- endif -%}
          </div>
          
          {%- if settings.text2 != blank -%}
            <div class="rte">{{ settings.text2 }}</div>
          {%- endif -%}
 </div>
       <div class="multicolumn-services__item grid__item" {{ block.shopify_attributes }}>
          <div class="services-icon-heading">
            {%- if settings.icon2 != blank -%}
              <div class="multicolumn-services__icon">
                {{ settings.icon3 | image_url: width: 40 | image_tag:
                  loading: 'lazy',
                  width: 35,
                  height: 35,
                  alt: settings.heading3
                }}
              </div>
            {%- endif -%}
            
            {%- if settings.heading3 != blank -%}
              <h3 class="subtitle">{{ settings.heading3 }}</h3>
            {%- endif -%}
          </div>
          
          {%- if settings.text3 != blank -%}
            <div class="rte">{{ settings.text3 }}</div>
          {%- endif -%}
       </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Multicolumn Services Box",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "richtext",
      "id": "sec_title",
      "label": "Section Title",
      "default": "<p>Section Title</p>"
    },
    {
      "type": "range",
      "id": "custom_heading_size",
      "min": 20,
      "max": 70,
      "step": 1,
      "default": 52,
      "unit": "px",
      "label": "Heading Size"
    },
    {
      "type": "range",
      "id": "mobile_custom_heading_size",
      "min": 20,
      "max": 40,
      "step": 1,
      "default": 28,
      "unit": "px",
      "label": "Mobile Heading Size"
    },
    {
      "type": "select",
      "id": "custom_font_weight",
      "label": "Font Weight",
      "default": "400",
      "options": [
        { "label": "Thin (100)", "value": "100" },
        { "label": "Extra Light (200)", "value": "200" },
        { "label": "Light (300)", "value": "300" },
        { "label": "Regular (400)", "value": "400" },
        { "label": "Medium (500)", "value": "500" },
        { "label": "Semi Bold (600)", "value": "600" },
        { "label": "Bold (700)", "value": "700" },
        { "label": "Extra Bold (800)", "value": "800" },
        { "label": "Black (900)", "value": "900" },
        { "label": "None", "value": "none" }
      ]
    },
    {
      "type": "select",
      "id": "title_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Section title alignment"
    },
    {
      "type": "header",
      "content": "Color Settings"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color",
      "id": "icon_bg_color",
      "label": "Icon background color",
      "default": "#5A5A5A"
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "Content Border Color",
      "default": "#EEEEEE"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "Number of columns on desktop"
    },
    {
      "type": "select",
      "id": "columns_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left",
      "label": "Columns alignment"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "1 column"
        },
        {
          "value": "2",
          "label": "2 columns"
        }
      ],
      "default": "1",
      "label": "Number of columns on mobile"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 180,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 180,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Service Column",
      "limit": 3,
      "settings": []
    }
  ],
  "presets": [
    {
      "name": "Multicolumn Services Box",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
