{{ 'team-member.css' | asset_url | stylesheet_tag }}

{%- style -%}
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  @media screen and (max-width: 1440px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.50 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.50 | round: 0 }}px;
    }
  }

  @media screen and (max-width: 749px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.mobile_padding_top }}px;
      padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="breadcrumb-sec-main color-{{ section.settings.color_scheme }} section-{{ section.id }}-padding">
  <div class="page-width">
    {% render 'breadcrumbs' %}
  </div>
</div>

{% schema %}
{
  "name": "Breadcrumb",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 180,
      "step": 5,
      "unit": "px",
      "label": "Padding Top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 180,
      "step": 5,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 20
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "min": 0,
      "max": 180,
      "step": 5,
      "unit": "px",
      "label": "Mobile Padding Top",
      "default": 20
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "min": 0,
      "max": 180,
      "step": 5,
      "unit": "px",
      "label": "Mobile Padding Bottom",
      "default": 20
    }
  ],
  "presets": [
    {
      "name": "SL Breadcrumb",
      "category": "Team"
    }
  ]
}
{% endschema %}
