{{ 'get-in-touch.css' | asset_url | stylesheet_tag }}
{{ 'section-shipping-estimate.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.55 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.55 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.7 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.7 | round: 0 }}px;
    }
  }

  @media screen and (min-width: 1025px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="shipping-estimate section-{{ section.id }}-padding gradient color-{{ section.settings.color_scheme }}">
  <div class="page-width">
    {% if section.settings.heading != blank %}
      <div class="sec-head section-title-alignment-{{ section.settings.title_alignment }}">
        <h2 class="title {{ section.settings.heading_size }}">
          {{ section.settings.heading }}
        </h2>
      </div>
    {% endif %}
    <div class="shipping-estimate-wrapper">
      <div class="shipping-estimate-fields">
        <div class="shipping-estimate-item">
          <label class="form-label" for="ShippingCountry">Country</label>
          <select class="form-select" id="ShippingCountry">
            <option value="" data-display=""></option>
            <option value="India">India</option>
            <option value="South America">South America</option>
            <option value="Europe">Europe</option>
            <option value="Asia">Asia</option>
            <option value="Africa">Africa</option>
            <option value="Australia">Australia</option>
          </select>
        </div>
        <div class="shipping-estimate-item">
          <label class="form-label" for="ShippingPostcode">Postcode</label>
          <input type="text" id="ShippingPostcode" value="" class="form-input">
        </div>
        <div class="shipping-estimate-item">
          <label class="form-label" for="ShippingState">State</label>
          <select class="form-select" id="ShippingState">
            <option value="" data-display=""></option>
            <option value="Gujarat">Gujarat</option>
            <option value="Rajasthan">Rajasthan</option>
            <option value="Punjab">Punjab</option>
            <option value="Maharashtra">Maharashtra</option>
          </select>
        </div>
      </div>
      <div class="estimate-button">
        <button class="button{% if section.settings.enable_secondary_btn == true %} button--secondary{% else %} button--primary{% endif %}">
          {{ section.settings.btn }}
        </button>
      </div>
      <div class="estimate-details rte">
        <p>There is one shipping rate for your address:</p>
        <ul>
            <li>Standard International: $30.08</li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Shipping estimate",
  "tag": "section",
  "class": "section shipping-estimate-sec",
  "settings": [
    {
      "type": "richtext",
      "id": "heading",
      "label": "Section Heading",
      "default": "<p>Shipping Estimate</p>"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "Small"
        },
        {
          "value": "h1",
          "label": "Medium"
        },
        {
          "value": "h0",
          "label": "Large"
        }
      ],
      "default": "h1",
      "label": "Heading Size"
    },
    {
      "type": "select",
      "id": "title_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Section title alignment"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "text",
      "id": "btn",
      "label": "Estimate button text",
      "default": "Estimate"
    },
    {
      "type": "checkbox",
      "id": "enable_secondary_btn",
      "label": "Enable secondary button",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 180,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 180,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Shipping estimate"
    }
  ]
}
{% endschema %}
